In [1]:
!kaggle competitions download -c titanic

Downloading titanic.zip to c:\Users\kalgh\Desktop\pythonProject\Kaggle

  0%|          | 0.00/34.1k [00:00<?, ?B/s]
100%|██████████| 34.1k/34.1k [00:00<00:00, 222kB/s]
100%|██████████| 34.1k/34.1k [00:00<00:00, 194kB/s]

In [24]:
import pandas as pd

In [33]:
data = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
def clean (data):
    data = data.drop(["Ticket", "PassengerId", "Name", "Cabin"], axis=1)

    # some cols has NaN and this will convret them
    cols = ['SibSp', 'Parch', 'Fare', 'Age']
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)

    # fill Embarked with Unknown token
    data.Embarked.fillna('U', inplace=True)
    return data

In [44]:
def clean(data):
    data = data.drop(["Ticket", "PassengerId", "Name", "Cabin"], axis='columns')
    
    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)
        
    data.Embarked.fillna("U", inplace=True)
    return data

data = clean(data)
test = clean(test)

KeyError: "['Ticket', 'PassengerId', 'Name', 'Cabin'] not found in axis"

In [7]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [8]:
inputs = pd.concat([inputs, dummies], axis = 'columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [9]:
inputs.drop(['Sex'], axis='columns', inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0

In [10]:
# Check if NaN
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [11]:
# Fill in NaN values
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [12]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [14]:
len(x_test)

268

In [15]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model

GaussianNB()

In [16]:
model.fit(x_train, y_train)

GaussianNB()

In [17]:
model.score(x_test, y_test)

0.8246268656716418

In [23]:
#Get predicitions from test data
predictions = model.predict(x_test)
passangerId = dataframe["PassengerId"]

KeyError: 'PassengerId'

In [19]:
results = pd.DataFrame({"PassengerId":passangerId,"Survived":predictions})
results.to_csv("submissions.csv",index=False)

ValueError: array length 268 does not match index length 418